
<div class="p-4 m-3 bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Budget - Actual vs Expected</h5>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Actual Deposit Amount
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-green-600">
                        ${{depositTotal | number : '1.2-2'}}
                    </div>

                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Expected Deposit Amount
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-green-600">
                        ${{depositTotal | number : '1.2-2'}}
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Actual Withdrawal Amount
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-red-600">
                        ${{withdrawalTotal | number : '1.2-2'}}
                    </div>

                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Expected Withdrawal Amount
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-red-600">
                        ${{withdrawalTotal | number : '1.2-2'}}
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                           Actual Remaining Amount
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-white">
                        ${{ (depositTotal - (withdrawalTotal * -1)) | number : '1.2-2'}}
                    </div>

                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                           Expected Remaining Amount
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-white">
                        ${{ (depositTotal - (withdrawalTotal * -1)) | number : '1.2-2'}}
                    </div>
                </div>
            </li>
        </ul>
   </div>
</div>

