<div (keyup.alt.a)="addIncome({Income: 0, Index: 0})" class="w-full m-4 max-w-lg">
  <h2 class=" inline text-4xl font-normal leading-normal mt-0 mb-2 text-white">Income - ${{total}}</h2>
  <button (click)="addIncome({Income: 0, Index: 0})" class="focus:outline-none float-right align-middle text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-1 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg></button>
    <div class="flex flex-wrap -mx-3 m-6">
      <div *ngFor="let income of userIncome; let i = index; trackBy: trackByFn" class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase text-white text-xs font-bold mb-2">
          Income {{income.Index + 1}}
        </label>
        <div class="relative content-center">
          <input [(ngModel)]="userIncome[i].Income" (ngModelChange)="updateIncome($event)" [name]="'Income'+userIncome[i].Index" type="number" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="grid-first-name" placeholder="$1 Million">
          <button (click)="deleteIncome(userIncome[i])" type="button" class="text-white absolute right-2.5 bottom-2.5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">X</button>
        </div>

      </div>
    </div>
  </div>



