<div class="h-80 flex-grow overflow-y-auto">
    <div class="overflow-x-auto  relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Description
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Transaction Type
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Amount
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Planning Type
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Planning Subtype
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of userTransactions" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 dark:text-white">
                        {{transaction.Description}}
                    </th>
                    <td class="py-4 px-6">
                        {{transaction.Date}}
                    </td>
                    <td class="py-4 px-6">
                        {{transaction.Type}}
                    </td>
                    <td class="py-4 px-6">
                        {{transaction.Amount}}
                    </td>
                    <td class="py-4 px-6">
                        <select [(ngModel)]="transaction.SortingType" [name]="transaction.Description" (ngModelChange)="planningTypeChange(transaction)" id="underline_select" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                            <option>Planning Type</option>
                            <option *ngFor="let expense of EXPENSE_TYPES | keyvalue" [value]="expense.value">{{expense.key}}</option>
                        </select>
                    </td>
                    <td class="py-4 px-6">
                        <select [(ngModel)]="transaction.SortingSubType" *ngIf="transaction.SortingType === 'Need'" [disabled]="!transaction.SortingType" id="underline_select" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                            <option class="capitalize" *ngFor="let need of plannedFinances.needExpenses" [value]="need.expenseName">{{need.expenseName}}</option>
                        </select>
                        <select [(ngModel)]="transaction.SortingSubType" *ngIf="transaction.SortingType === 'Want'" [disabled]="!transaction.SortingType" id="underline_select" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                            <option class="capitalize" *ngFor="let want of plannedFinances.wantExpenses" [value]="want.expenseName">{{want.expenseName}}</option>
                        </select>
                        <select [(ngModel)]="transaction.SortingSubType" *ngIf="transaction.SortingType === 'Saving'" [disabled]="!transaction.SortingType" id="underline_select" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                            <option class="capitalize" *ngFor="let saving of plannedFinances.savingExpenses" [value]="saving.expenseName">{{saving.expenseName}}</option>
                        </select>
                    </td>
                    <td class="py-4 px-6">
                        <button (click)="deleteTransaction(transaction)" type="button" class="text-white right-2.5 bottom-2.5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-import></app-import>
