<div (keyup.alt.a)="addExpense({expenseName: 'New Expense', expenseTotal: 0})" class="m-4 p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="flex flex-row items-center">
    <div class="flex-auto">
      <h2 class="text-center inline text-4xl font-normal leading-normal mt-0 mb-2 text-white">{{type}} - ${{total}}</h2>
    </div>
    <div class="flex-auto">
      <button (click)="addExpense({expenseName: 'New Expense', expenseTotal: 0})" class="focus:outline-none float-right align-middle text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg></button>
    </div>
    
    
  </div>
  
  <div *ngFor="let expense of userExpenses; let i = index; trackBy: trackByFn" class="w-full mb-2 flex flex-row items-center">
    
      <div class="flex-auto">
        <input [(ngModel)]="userExpenses[i].expenseName" (ngModelChange)="updateStore(userExpenses)" [name]="userExpenses[i].expenseName" class="capitalize appearance-none bg-transparent border-none w-full text-white mr-4 focus:outline-none" type="text" placeholder="Expense" aria-label="Expense">
      </div>
      <div class="flex-auto">
        <input [(ngModel)]="userExpenses[i].expenseTotal" (ngModelChange)="updateStore(userExpenses)" [name]="userExpenses[i].expenseName" type="number" class="p-4 pl-10 w-3/4 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="grid-first-name" placeholder="$1 Million">
      </div>
      <div class="flex-auto ml-2">
        <button (click)="deleteExpense(userExpenses[i])" type="button" class="text-white w-full bottom-2.5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">X</button>
      </div>
        
      
</div>
</div>


